<!-- the first page of the web app -->
<body>
  <!-- modal to be implemented which will be shown as a popup when the user successfully registers -->
  <div class="modal" *ngIf="modalOpen && token">
    <h2>UPDATE USER DETAILS</h2>
    <form [formGroup]="userDetailsForm" (ngSubmit)="updateProfile()" novalidate>
        <input 
      type="number" 
      placeholder="Phone"
      formControlName="phone"
       />

      <input 
      type="text" 
      placeholder="City"
      formControlName="city"
       />
        <input 
      type="text" 
      placeholder="State"
      formControlName="state"
       />

      <input 
      type="text" 
      placeholder="Country"
      formControlName="country"
       />
       <input 
      type="text" 
      placeholder="Pin"
      formControlName="pin"
       />
       <button class="btn btn-danger" (click)="close()">Close</button>
       <button class="btn btn-success" [disabled]="!userDetailsForm.valid">UPDATE DETAILS</button>
    </form>
  </div>
  <div class="box">
    <div class="imageBg col-l-12">
      <img [src]="delivery" alt="" class="img-responsive setHtWt" />
    </div>
  </div>
  <div class="aboutus">
    <div class="heading">
      <h1>WHO ARE WE</h1>
      <hr class="line" />
    </div>
    <div class="content">
      With a presence in every state and delivering to over 17,000+ pincodes, we
      are India’s largest and fastest growing fully-integrated logistics
      services player by revenue as of Fiscal 2021 spanning from Leh to
      Kanyakumari and the east to the west. Flexible shipping options, services
      such as, LTL and express parcel services, plus partnerships with Aramex
      and Fedex for cross-border fulfillment, give our growing customers space
      to evolve, while end-to-end supply chain solutions allow the movement of
      machinery, industrial equipment, and automotive parts. Backed by data
      science, our solutions improve operational efficiency and reduce costs.
    </div>
  </div>
</body>
