body {
    /* position: absolute; */
    height: 100vh;
    width: 100vw;
    display: flex;
}

.box {
    margin-top: -120px;
    position: absolute;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 0px;
    flex-direction: column;
}

.order {
    /* margin-top: 10px; */
    height: 8vh;
    width: 97%;
    border: 1px solid;
    background-color: rgb(32,35,46);
    color: #fff;
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.left-heading {
    width: 50%;
    margin-left: 10px;
}

.right-heading {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-right: auto;
}

.no-orders {
 width: 100%;   
}

h2 {
    text-align: center;
}

.order-detail-modal {
    position: relative;
    z-index: 1;
    height: 30vh;
    width: 30vw;
    /* border: 1px solid; */
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: #fff;
    box-shadow: 0px 2px 1px 1px black;
    padding: 2px;
}

button {
    margin-top: 20px;
}

.order:hover {
    cursor: pointer;
}

.details {
    text-align: center;
}