<!-- not fully implemented as of now -->
<!-- displays the profile of the user (addresses, payment methods, account settings, orders) -->
<body>
    <div class="completediv">
        <div class="minidiv">
            <div class="info">
                <div class="left-info">
                    <h1 class="you">Hey there!</h1>
                    <p class="number">+91 9999999999</p>
                </div>
            </div>
            <div class="options">
                <div class="order-list">Orders List</div>
                <div class="addresses">Addresses</div>
                <div class="account-settings">Account Settings</div>
                <div class="manage-payments">Manage Payments</div>
                <div class="support">Support</div>
            </div>
            <div class="option-info"></div>
        </div>
    </div>
      <!-- <div class="alert alert-danger alerts" role="alert" *ngIf="isFormValid">
        Please fill all fields.
      </div>
      <div class="alert alert-danger alerts" role="alert" *ngIf="areCredentialsInvalid">
          Invalid user or password.
      </div> -->
    
</body>